.division-creator-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 80svh;
}

.division-creator-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.division-creator-form input {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3d4349;
    color: #fff;
    text-align: center;
    outline: none;
}

.division-creator-form button {
    margin-top: 1rem;
    background: #26ef26;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

